/*
 * @Description: 主题色切换内容
 * @Author: zhoucheng
 * @Github: https://github.com/zhoucheng-tt
 * @Date: 2021-12-10 10:04:55
 * @LastEditors: zhoucheng
 */

$themes: (
  light:(background: linear-gradient(120deg, #ffafbd, #d5dee7, #c9ffbf)),
  dark: (background: linear-gradient(220deg, #d45e9b, #c88493, #b7a48b, #a1c181)),
  )